.o2o{
	width: 1030px;
	margin: 30px auto;
	overflow: hidden;
}
.o2o h3{
	font-size: 28px;
	font-weight: 300;
	margin-top: 40px;
}
.o2o p{
	font-size: 14px;
	color: #999;
	margin-bottom: 40px;
	font-weight: 200;
	line-height: 1.8;
}
.o2o-left{
	display: inline-block;
	width: 515px;
	float: left;
}
.o2o-left1{
	display: inline-block;
	width: 485px;
	float: left;
}
.o2o-right{
	display: inline-block;
	float: right;
}
.o2o-right1{
	display: inline-block;
	width: 515px;
	float: right;
}

